In [1]:
import time
import pandas as pd
import numpy as np
import pandas_datareader as web
import datetime as dt
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import requests
import random

In [81]:
date_list = pd.date_range('2022-06-15', '2022-06-26', freq = 'D').strftime("%Y%m%d").tolist()
columns = ['日期', '自營商(買賣)買進', '自營商(買賣)賣出', '自營商(買賣)買賣差額', '自營商(避險)買進', '自營商(避險)賣出', '自營商(避險)買賣差額', '投信買進', '投信賣出', '投信買賣差額', '外資買進', '外資賣出', '外資買賣差額']
data = pd.DataFrame(columns = columns)
for i in date_list:
    url = f"https://www.twse.com.tw/fund/BFI82U?response=json&dayDate={i}"
    res = requests.get(url)
    res = res.json()
    if res['stat'] == "OK":
        df_res = pd.DataFrame.from_dict(res['data'])
        df_res = df_res.drop(0, axis = 1)
        df_res = df_res.iloc[:-1, ]
        df_res = df_res.values.reshape(1, -1)
        df_res = pd.DataFrame(df_res, columns=columns[1:])
        df_res.insert( 0, '日期', dt.datetime.strptime(i, "%Y%m%d"))
        data = data.append(df_res)
        print(f"{i} True")

20220615 True
20220616 True
20220617 True
20220620 True
20220621 True
20220622 True
20220623 True
20220624 True

In [82]:
data

,日期,自營商(買賣)買進,自營商(買賣)賣出,自營商(買賣)買賣差額,自營商(避險)買進,自營商(避險)賣出,自營商(避險)買賣差額,投信買進,投信賣出,投信買賣差額,外資買進,外資賣出,外資買賣差額
0,2022-06-15,"6,910,297,285","2,760,644,551","4,149,652,734","8,989,328,781","6,856,506,712","2,132,822,069","2,694,143,858","2,970,535,348","-276,391,490","69,316,653,521","88,661,309,062","-19,344,655,541"
0,2022-06-16,"2,223,811,778","3,654,698,090","-1,430,886,312","6,509,060,356","9,669,664,688","-3,160,604,332","4,755,717,612","4,252,059,353","503,658,259","83,052,391,469","82,126,313,726","926,077,743"
0,2022-06-17,"2,696,812,386","3,787,389,392","-1,090,577,006","8,373,114,971","10,294,998,982","-1,921,884,011","13,853,490,953","17,251,035,291","-3,397,544,338","111,073,671,124","128,744,057,104","-17,670,385,980"
0,2022-06-20,"3,118,341,273","3,736,484,895","-618,143,622","8,222,564,598","10,089,058,675","-1,866,494,077","11,162,365,540","10,734,009,410","428,356,130","69,674,412,949","77,806,417,194","-8,132,004,245"
0,2022-06-21,"8,283,306,362","1,929,691,960","6,353,614,402","7,554,059,458","5,867,112,864","1,686,946,594","10,625,469,401","10,482,009,729","143,459,672","87,542,028,433","69,462,832,314","18,079,196,119"
0,2022-06-22,"4,898,889,017","3,735,001,955","1,163,887,062","8,268,757,907","8,622,897,372","-354,139,465","9,272,474,573","9,185,003,037","87,471,536","72,245,238,465","94,621,544,731","-22,376,306,266"
0,2022-06-23,"10,350,572,675","3,452,964,705","6,897,607,970","9,416,644,015","10,349,487,456","-932,843,441","9,472,300,590","9,996,845,970","-524,545,380","86,330,044,199","94,025,054,728","-7,695,010,529"
0,2022-06-24,"14,079,176,422","2,718,792,875","11,360,383,547","10,012,395,880","5,950,144,113","4,062,251,767","4,626,615,497","2,488,347,841","2,138,267,656","69,241,384,387","72,081,320,594","-2,839,936,207"

In [43]:

url = f"https://www.twse.com.tw/fund/BFI82U?response=json&dayDate=20220623"
res = requests.get(url)
res = res.json()
df_res = pd.DataFrame.from_dict(res['data'])
df_res.columns = ['單位名稱', '買進金額', '賣出金額', '買賣差額']
df_res

        單位名稱             買進金額             賣出金額            買賣差額
0  自營商(自行買賣)   10,350,572,675    3,452,964,705   6,897,607,970
1    自營商(避險)    9,416,644,015   10,349,487,456    -932,843,441
2         投信    9,472,300,590    9,996,845,970    -524,545,380
3      外資及陸資   86,330,044,199   94,025,054,728  -7,695,010,529
4         合計  115,569,561,479  117,824,352,859  -2,254,791,380

In [50]:
columns = ['自營商(買賣)買進', '自營商(買賣)賣出', '自營商(買賣)買賣差額', '自營商(避險)買進', '自營商(避險)賣出', '自營商(避險)買賣差額', '投信買進', '投信賣出', '投信買賣差額', '外資買進', '外資賣出', '外資買賣差額']
tmp = df_res.drop(['單位名稱'], axis = 1)
tmp = tmp.iloc[:-1, ]
tmp = tmp.values.reshape(1, -1)
df_tmp = pd.DataFrame(tmp)
df_tmp.insert( 0, '日期', dt.datetime.strptime(i, "%Y%m%d"))
df_tmp

,日期,0,1,2,3,4,5,6,7,8,9,10,11
0,2022-06-15,"10,350,572,675","3,452,964,705","6,897,607,970","9,416,644,015","10,349,487,456","-932,843,441","9,472,300,590","9,996,845,970","-524,545,380","86,330,044,199","94,025,054,728","-7,695,010,529"

In [2]:
def date_formate(x):
    if x < 10:
        return f"0{x}"
    else:
        return f"{x}"

def generate_date(year, month, day):
    month = date_formate(month)
    day = date_formate(day)
    return f"{year}{month}{day}"

In [5]:
def crawler(date):
    url = f"http://www.twse.com.tw/fund/BFI82U?response=html&dayDate={date}"
    try:
        resp = requests.get(url)
    except:
        time.sleep(60)
    resp.encoding = 'UTF-8'

    html_soup = BeautifulSoup(resp.text, 'lxml')
    table = html_soup.find('table')
    if table:
        table = table.find('tbody')
        data = []
        table = table.find('tr')
        while table:
            inner_table = table.select('td')
            tmp = []
            for i in inner_table:
                content = str(i)[4: -5: 1].replace(',', '')
                tmp.append(content)
            data.append(tmp)
            table = table.find_next('tr')
        return data
    return False

In [21]:
date = "20220624"
url = f"http://www.twse.com.tw/fund/BFI82U?response=html&dayDate={date}"
resp = requests.get(url)
resp.encoding = 'UTF-8'

html_soup = BeautifulSoup(resp.text, 'lxml')
html_soup

<!DOCTYPE html>
<html lang="zh">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<title>TWSE 臺灣證券交易所 - 報表</title>
<style>
    table { border-collapse: collapse; margin: 1em 0; }
    table, th, td { border: 1px solid lightgray; }
    table thead th, table thead td { text-align: center; background-color: #eee; }
    table thead div { font-size: 1.5em; padding: 10px; }
    table tbody tr:nth-child(even){ background-color:#f8f8f8; }
    td { padding: 4px; }
    td>p { margin: 0; text-align: center; }
    div.notes { margin: 2em 0 4em 0; line-height: 1.5em; }
    table tbody td { text-align: right; }
    table tbody td:first-child { text-align: center; }
    table tbody td:first-child + td { text-align: left; }
  </style>
</head>
<body>
<div>
<table>
<thead>
<tr>
<th colspan="4" scope="col">
<div>111年06月24日 三大法人買賣金額統計表</div>
</th>
</tr>
<tr>
<td>單位名稱</td>
<td>買進金額</td>
<td>賣出金額</td>
<td>買賣差額</td>
</tr>
</thead>
<tbody>
<tr>
<td>自營商(自行買賣)</td>
<td>14,079,176,422</td>
<td>2,718,792,875</td>
<td>11,360,383,547</td>
</tr>
<tr>
<td>自營商(避險)</td>
<td>10,012,395,880</td>
<td>5,950,144,113</td>
<td>4,062,251,767</td>
</tr>
<tr>
<td>投信</td>
<td>4,626,615,497</td>
<td>2,488,347,841</td>
<td>2,138,267,656</td>
</tr>
<tr>
<td>外資及陸資</td>
<td>69,241,384,387</td>
<td>72,081,320,594</td>
<td>-2,839,936,207</td>
</tr>
<tr>
<td>合計</td>
<td>97,959,572,186</td>
<td>83,238,605,423</td>
<td>14,720,966,763</td>
</tr>
</tbody>
</table>
<div class="notes">
<b>說明：</b>
<ol>
<li>自營商表示證券自營商專戶。</li>
<li>投信表示本國投資信託基金。</li>
<li>外資及陸資表示依「華僑及外國人投資證券管理辦法」及「大陸地區投資人來臺從事證券投資及期貨交易管理辦法」辦理登記等投資人。</li>
<li>本統計資訊含一般、零股、盤後定價、鉅額，不含拍賣、標購。</li>
<li>本資訊以當日原始成交情形統計，不以證券商申報錯帳、更正帳號等調整後資料統計。</li>
</ol>
</div>
</div>
</body>
</html>

In [22]:
rsq_table = html_soup.find('table').find('tbody')
rsq_table

<tbody>
<tr>
<td>自營商(自行買賣)</td>
<td>14,079,176,422</td>
<td>2,718,792,875</td>
<td>11,360,383,547</td>
</tr>
<tr>
<td>自營商(避險)</td>
<td>10,012,395,880</td>
<td>5,950,144,113</td>
<td>4,062,251,767</td>
</tr>
<tr>
<td>投信</td>
<td>4,626,615,497</td>
<td>2,488,347,841</td>
<td>2,138,267,656</td>
</tr>
<tr>
<td>外資及陸資</td>
<td>69,241,384,387</td>
<td>72,081,320,594</td>
<td>-2,839,936,207</td>
</tr>
<tr>
<td>合計</td>
<td>97,959,572,186</td>
<td>83,238,605,423</td>
<td>14,720,966,763</td>
</tr>
</tbody>

In [48]:
table_info = rsq_table.find('tr')
table_info.select('td')
for i in table_info.select('td'):
    print("1")

1
1
1
1

In [30]:
tmp = table_info.select('td')[1]
str(tmp)[4:-5:1].replace(',', '')

'14079176422'

In [58]:
columns = ['單位名稱', '買進金額', '賣出金額', '買賣差額']
data = pd.DataFrame(data, columns = columns)

        單位名稱         買進金額         賣出金額        買賣差額
0  自營商(自行買賣)   2201131650   2222184686   -21053036
1    自營商(避險)   4972675380   4854167339   118508041
2         投信   4823925230   5285162272  -461237042
3      外資及陸資  56214982735  46881697465  9333285270
4         合計  68212714995  59243211762  8969503233